{
    "name":"bootstrapAngular",
    "files":[
        {"template":"app/controllers/entitiesController_js",
         "parse":"true"
        },
        {"template":"app/controllers/subEntitiesController_js",
         "parse":"false"
        },
        {"template":"app/controllers/entityEditController_js",
         "parse":"true"
        },
        {"template":"app/controllers/subEntityEditController_js",
         "parse":"false"
        }
    ]
}