<div class="entities view indent">
    <div class="container">
        <header>
                <h3>Listado Generadores</h3>
            
        </header>
        <br />
        <br />
        <grid config="templatesGridConfig"></grid>
        <ul class="nav nav-pills" style="float:right;">
           <!-- li><a ng-click="lastPage()">&lt;</a></li>
           <li ng-repeat="page in navigatablePages" ng-class="(page==currentPage?'active':'')"><a ng-click="pageChanged(page)">{{page}}</a></li>
           <li><a ng-click="nextPage()">&gt;</a></li -->
        </ul>
    </div>
</div>
