{
    "name":"slimPHP",
    "files":[
        {"template":"include/DbHandler_php",
         "parse":"true",
		 "save":"false"
        },
        {"template":"include/SubDbHandler_php",
         "parse":"false"
        },
        {"template":"v1/index_php",
         "parse":"true"
        },
        {"template":"v1/subIndex_php",
         "parse":"false"
        }
    ]
}