{
   "name":"mean",
   "files":[
      {
         "file":"/client/app/animations/listAnimations.js"
      },
      {
         "template":"/client/app/app_js"
      },
      {
         "template":"/client/app/controllers/appController_js"
      },
      {
         "file":"/client/app/controllers/categoriesController.js"
      },
      {
         "template":"/client/app/controllers/dialogController_js"
      },
      {
         "template":"/client/app/controllers/elementController_js"
      },
      {
         "template":"/client/app/controllers/listBottomSheetController_js"
      },
      {
         "template":"/client/app/controllers/loginController_js"
      },
      {
         "file":"/client/app/controllers/mapController.js"
      },
      {
         "template":"/client/app/controllers/navbarController_js"
      },
      {
         "file":"/client/app/controllers/textsController.js"
      },
      {
         "file":"/client/app/directives/grid.js"
      },
	  {
         "template":"/client/app/directives/elementField_js"
      },
      {
         "file":"/client/app/lib/textAngular/textAngular-rangy.min.js"
      },
      {
         "file":"/client/app/lib/textAngular/textAngular-sanitize.min.js"
      },
      {
         "file":"/client/app/lib/textAngular/textAngular.css"
      },
      {
         "file":"/client/app/lib/textAngular/textAngular.min.js"
      },
      {
         "template":"/client/app/services/authService_js"
      },
      {
         "file":"/client/app/services/dataMocksService_js"
      },
      {
         "template":"/client/app/services/dataService_js"
      },
      {
         "template":"/client/app/services/httpInterceptorService_js"
      },
      {
         "file":"/client/app/views/about.html"
      },
      {
         "file":"/client/app/views/categories.html"
      },
      {
         "template":"/client/app/views/content_html"
      },
      {
         "file":"/client/app/views/element.html"
      },
      {
         "file":"/client/app/views/elementEdit.html"
      },
      {
         "file":"/client/app/views/elementGrid.html"
      },
      {
         "file":"/client/app/views/images.html"
      },
      {
         "file":"/client/app/views/login.html"
      },
      {
         "file":"/client/app/views/map.html"
      },
      {
         "template":"/client/app/views/navigation_html"
      },
      {
         "file":"/client/app/views/texts.html"
      },
      {
         "file":"/client/config.rb"
      },
      {
         "template":"/client/config_js"
      },
      {
         "file":"/client/css/style.css"
      },
      {
         "template":"/client/index_html"
      },
      {
         "file":"/client/main.js"
      },
      {
         "file":"/client/scss/style.scss"
      },
      {
         "file":"/client/template/modal/backdrop.html"
      },
      {
         "file":"/client/template/modal/window.html"
      },
      {
         "file":"/server/config/auth.js"
      },
      {
         "template":"/server/config/database_js"
      },
      {
         "file":"/server/config/passport.js"
      },
      {
         "file":"/server/meanApp.js"
      },
      {
         "template":"/server/models/base_js",
		"parse":"true",
		"save":"false"
      },
      {
         "file":"/server/models/credential.js"
      },
      {
         "template":"/server/models/entity_js",
		"parse":"false"
      },
      {
         "file":"/server/models/ingredient.js"
      },
      {
         "file":"/server/models/profile.js"
      },
      {
         "file":"/server/models/user.js"
      },
      {
         "file":"/server/models/userType.js"
      },
      {
         "file":"/server/package.json"
      },
      {
         "file":"/server/public/javascripts/WindowManager.js"
      },
      {
         "file":"/server/public/javascripts/crud.js"
      },
      {
         "file":"/server/public/javascripts/crudPicker.js"
      },
      {
         "file":"/server/public/javascripts/socket.js"
      },
      {
         "file":"/server/public/javascripts/users.js"
      },
      {
         "file":"/server/public/stylesheets/style.css"
      },
      {
         "template":"/server/routes/api_js"
      },
      {
         "template":"/server/routes/auth_js"
      },
      {
         "file":"/server/routes/credential.js"
      },
      {
         "file":"/server/routes/crud.js"
      },
      {
         "file":"/server/routes/index.js"
      },
      {
         "file":"/server/routes/profile.js"
      },
      {
         "template":"/server/routes/route_js",
		"parse":"false"
      },
      {
         "template":"/server/routes/routes_js",
		"parse":"true",
		"save":"true"
      },
      {
         "file":"/server/routes/user.js"
      },
      {
         "file":"/server/routes/userType.js"
      },
      {
         "file":"/server/server.js"
      },
      {
         "file":"/server/socket/socket.js"
      },
      {
         "file":"/server/views/crud.jade"
      },
      {
         "file":"/server/views/crudPicker.jade"
      },
      {
         "file":"/server/views/error.jade"
      },
      {
         "file":"/server/views/index.jade"
      },
      {
         "file":"/server/views/layout.jade"
      },
      {
         "file":"/template.config"
      }
   ]
}