<div class="view indent">
    <div class="container">
        <header>
                <h2>About</h2>
        </header>
        <br />
        
        <h3>Personal Information</h3>
        <ul>
            <li>Name: Martin Leiva</li>
            <li>Date of birth: 19-4-1984.</li>
            <li>Phone number: +59899109270</li>
            <li>E-mail: martleim@gmail.com</li>
            <li>City: Montevideo</li>
            <li>Birthplace: URUGUAY</li>
            <li>Citizenship: URUGUAY</li> 
        </ul>
        
        <h3>Made Using</h3>
        <ul>
            <li>Brackets</li>
            <li>AngularJS</li>
            <li>Node-SASS</li>
            <li>Brackets SASS</li>
            <li>Bootstrap SASS</li>
            <li>Angular Animate</li>
            <li>Angular Mocks</li>
            <li>Angular Route</li> 
        </ul>
    </div>
</div>
